
/*----------------------------------------------------------- slider code at here ----------------------------------------------*/

#slider{
	overflow: hidden;
}

#slider figure{

	position: relative;
	width: 700%;
	margin: 0;
	left: 0;
    animation: slide 12s infinite;

}

/*-------------------------------------------------------- slider end here ---------------------------------------------------*/

